body {
    font-family: Avenir Next, sans-serif;
    font-size: 45px;
    color: rgb(25, 25, 25);
}

h1 {
    margin: 10px 0;
    font-size: 55px;
    color: rgb(255, 5, 128);
}

p {
    margin: 0 0 40px 0;
    font-size: 48px;
}

/* adds margin in right left */
.content {
    margin: 20px;
}
